$colors: (primary: #5e72eb,
    secondary: #ff9190,
    accent: #120c6e,
    secondary-accent: #FDC094,
    fontColor: #0b0742);

@function color($color-name) {
    @return map-get($colors, $color-name);
}

@mixin control-width {
    @media (min-width: 800px) {
        @content;
    }
}

@mixin control-height {
    @media (max-height: 460px) {
        @content;
    }
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'Nunito';
    min-height: 460px;
    // color: color(accent);
    background: linear-gradient(20deg, color(secondary), color(secondary-accent));
    overflow: hidden;
    display: grid;
    justify-items: center;
}

#main {
    display: grid;
    // justify-items: center;
    align-items: center;
}

#number-container {
    padding: 0 20px;
    // border: 1px red solid;
    width: auto;
    display: grid;

    #number-head {
        // border: 1px green solid;
        justify-self: center;
        font-size: calc(15vw + 20vh);
        font-weight: 800;
        color: color(fontColor);
        font-family: 'Courier New';

        @include control-width {
            // font-size: calc(25vw + 20vh);
            font-size: calc(18vw + 20vh);
        }

        @include control-height {
            font-size: calc(25vw + 20vh);
        }
    }

    #number-description {
        // border: 1px white solid;
        // max-width: 50vw;
        width: 100%;
        color: color(accent);
        font-size: 1.6em;

        @include control-height {
            grid-column: 2;
            margin-left: 20px;
        }

        // @include control-width {
        //     max-width: 50vw;
        // }
    }

    @include control-height {
        grid-template-columns: 50% 50%;
        align-items: center;
    }
}

#footer-parent {
    // text-align: center;
    width: 100vw;
    display: grid;
    justify-items: center;
    align-items: center;
    // border: 1px green solid;
    position: absolute;
    bottom: 10px;
}


#footer {
    // align-self: flex-end;
    // height: 13px;
    display: inline-block;
    // right: auto;
    // left: auto;

    // margin-bottom: 10px;
    // border: red 1px solid;
    font-size: 1.3em;
}

#showInfo {
    position: absolute;
    margin: 20px;
    right: 0;
    top: 0;
    font-size: 1.2em;
}