body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: 'Nunito';
  min-height: 460px;
  background: linear-gradient(20deg, #FF9190, #FDC094);
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 5% 95%;
      grid-template-rows: 5% 95%;
  justify-items: center;
  z-index: -1;
}

#main {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 2;
  grid-row: 2;
  width: 100vw;
}

#number-container {
  padding: 0 20px;
  width: auto;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

#number-container #number-head {
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 12rem;
  font-weight: 800;
  color: #0b0742;
  font-family: 'Courier New';
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media (min-width: 800px) {
  #number-container #number-head {
    font-size: calc(18vw + 20vh);
  }
}

@media (max-height: 460px) {
  #number-container #number-head {
    font-size: calc(25vw + 20vh);
  }
}

#number-container #number-description-parent {
  text-align: center;
}

#number-container #number-description-parent #number-description {
  width: 100%;
  color: #120C6E;
  font-size: 1.15rem;
  text-align: center;
}

@media (max-height: 460px) {
  #number-container #number-description-parent #number-description {
    margin-left: 20px;
  }
}

#number-container #number-description-parent #category {
  border: #04025a 1px solid;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 15px;
  padding: 2px 5px;
  font-size: .9rem;
}

@media (max-height: 460px) {
  #number-container {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#footer {
  width: 100vw;
  display: -ms-grid;
  display: grid;
  position: absolute;
  bottom: 10px;
  -ms-grid-columns: auto 30% auto;
      grid-template-columns: auto 30% auto;
}

#footer #main-footer {
  -ms-grid-column: 2;
  grid-column: 2;
  font-size: 0.8rem;
}

#footer #share-container {
  font-weight: bold;
  font-size: 0.9rem;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 20px 20px 0px 0;
  padding: 3px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 12px;
}

#footer #share-container .share-button {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  cursor: pointer;
}

#showInfo {
  position: absolute;
  margin: 20px 20px 0 0;
  right: 0;
  top: 0;
}

#showInfo .contact {
  width: 24px;
  height: 24px;
}

#search-container {
  border: 1px blue solid;
  width: 50vw;
  height: 25px;
  -ms-flex-item-align: center;
      align-self: center;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#search-container #search {
  border: 1px green solid;
  height: 23px;
  width: inherit;
  border-radius: 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

#add-container {
  border: blue 1px solid;
  position: absolute;
  right: 0;
  width: 200px;
  height: 400px;
}
/*# sourceMappingURL=index.css.map */